<div class="editor" [class.editor--empty]="!pdfDoc" [attr.data-view-mode]="viewMode">
  <app-editor-toolbar
    [appName]="appName"
    [version]="version"
    [pageIndex]="pageIndex()"
    [pageCount]="pageCount"
    [scale]="scale()"
    [pdfLoaded]="!!pdfDoc"
    [canUndo]="canUndo()"
    [canRedo]="canRedo()"
    [hasAnnotations]="coords().length > 0"
    [languages]="languages"
    [selectedLanguage]="languageModel"
    (prev)="prevPage()"
    (next)="nextPage()"
    (zoomIn)="zoomIn()"
    (zoomOut)="zoomOut()"
    (undo)="undo()"
    (redo)="redo()"
    (clear)="clearAll()"
    (download)="downloadAnnotatedPDF()"
    (languageChange)="onLanguageChange($event)"
  ></app-editor-toolbar>

  <app-editor-sidebar
    [fileDropActive]="fileDropActive()"
    [templateName]="templateNameModel"
    [selectedTemplateId]="selectedTemplateId"
    [defaultTemplateId]="defaultTemplateId"
    [templates]="templates()"
    [coordsText]="coordsTextModel"
    [hasAnnotations]="coords().length > 0"
    (templateNameChange)="templateNameModel = $event"
    (selectedTemplateIdChange)="selectedTemplateId = $event"
    (coordsTextChange)="coordsTextModel = $event"
    (requestOpenPdf)="openPdfFilePicker()"
    (uploadKeydown)="onFileUploadKeydown($event)"
    (pdfSelected)="onFileSelected($event)"
    (pdfDrop)="onFileDrop($event)"
    (pdfDragOver)="onFileDragOver($event)"
    (pdfDragLeave)="onFileDragLeave($event)"
    (triggerImport)="triggerImportCoords()"
    (applyCoords)="applyCoordsText()"
    (saveTemplate)="saveCurrentAsTemplate()"
    (loadTemplate)="loadSelectedTemplate()"
    (deleteTemplate)="deleteSelectedTemplate()"
    (copyJson)="copyJSON()"
    (downloadJson)="downloadJSON()"
    (coordsFileSelected)="onCoordsFileSelected($event)"
  ></app-editor-sidebar>

  <app-editor-canvas
    [pdfLoaded]="!!pdfDoc"
    [preview]="preview()"
    [editing]="editing()"
    [scale]="scale()"
    [previewHex]="previewHexInput()"
    [previewRgb]="previewRgbInput()"
    [editHex]="editHexInput()"
    [editRgb]="editRgbInput()"
    (registerElements)="onCanvasElementsReady($event)"
    (hitboxClick)="onHitboxClick($event)"
    (previewKeydown)="onEditorKeydown($event, 'preview')"
    (editKeydown)="onEditorKeydown($event, 'edit')"
    (confirmPreview)="confirmPreview()"
    (cancelPreview)="cancelPreview()"
    (confirmEdit)="confirmEdit()"
    (cancelEdit)="cancelEdit()"
    (duplicateAnnotation)="duplicateAnnotation()"
    (deleteAnnotation)="deleteAnnotation()"
    (previewColorPicker)="onPreviewColorPicker($event)"
    (previewColorHexChange)="setPreviewColorFromHex($event)"
    (previewColorRgbChange)="setPreviewColorFromRgb($event)"
    (editColorPicker)="onEditColorPicker($event)"
    (editColorHexChange)="setEditColorFromHex($event)"
    (editColorRgbChange)="setEditColorFromRgb($event)"
  ></app-editor-canvas>

  <app-editor-footer
    [appName]="appName"
    [version]="version"
    [currentYear]="currentYear"
    [appAuthor]="appAuthor"
  ></app-editor-footer>
</div>
